<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>
    Pipes incluidos en Angular - En el Common Module
  </p>
</div>
<div class="grid">
  <div class="col-4">
    <p-card header="uppercase" [subheader]="lowerName | uppercase">
      {{ lowerName | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="upperName | lowercase">
      {{ upperName | lowercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase" [subheader]="fullName | titlecase">
      {{ fullName | titlecase}}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>
    Pipe para mostrar las fechas
  </p>
</div>
<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li> Fecha | date </li>
        <li> Fecha | date : 'short' </li>
        <li> Fecha | date : 'long' </li>
        <li> Fecha | date : 'MMMM dd, yyyy' </li>
      </ul>
      <hr>
      <ul>
        <li> Fecha | date : 'long' : GMT-6 </li>
        <li> Fecha | date : 'long' : GMT-4 </li>
        <li> Fecha | date : 'long' : GMT-5 : en </li>
        <li> Fecha | date : 'long' : GMT-5 : fr </li>
      </ul>
      
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul>
        <li> {{ date | date }} </li>
        <li> {{ date | date : 'short' }} </li>
        <li> {{ date | date : 'long' }} </li>
        <li> {{ date | date : 'MMMM dd, yyyy' }} </li>
      </ul>
      <hr>
      <ul>
        <li> {{ date | date : 'long' : 'GMT-6' }} </li>
        <li> {{ date | date : 'long' : 'GMT-4' }} </li>
        <li> {{ date | date : 'long' : 'GMT-5' : 'en' }} </li>
        <li> {{ date | date : 'long' : 'GMT-5' : 'fr' }} </li>
      </ul>
    </p-card>
  </div>
</div>