<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>
    Pipes incluidos en Angular - En el Common Module
  </p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas Netas" subheader="Año en curso">
      {{ netSales | number : '1.2-2' }}
      <i class="pi pi-euro"></i>
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ventas Brutas" subheader="Año en curso">
      {{ grossSales | currency: 'USD' : 'symbol-narrow' }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ganacia porcentual" subheader="Año en curso">
      {{ percentage | percent : '2.2-2' }}
    </p-card>
  </div>
</div>
